html{
    background-color: black;
    text-align: center;
}

h1{
    font-family: Verdana;
    font-weight: normal;
    font-size: 50px;
    color: white;
}

h5{
    font-family: Verdana;
    font-size: 21px;
    color: gray;
}

h6{
    color: aquamarine;
    font-size: 16px;
}
